{{!-- <li>
	{{burger_name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if devour}}REORDER!{{else}}DEVOUR!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>

</li> --}}